body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.jumbotron .container {
    background-position: center;
    opacity: 1;
}

.jumbotron .head {
    opacity: 1;
}

.containerService .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.containerService h2 {
    font-weight: 400;
}

.containerService .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
